<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">Transações</h1>
      </div>
      <!-- /.col-lg-12 -->
   </div>
   <!-- /.row -->
   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <i class="fa fa-arrow-left fa-fw" id="previousMonth"></i>
               <i id="currentDate"></i> <i class="fa fa-arrow-right fa-fw" id="nextMonth"></i>
            </div>
            <div class="panel-body">
               <div class="table-responsive">
                  <table id="transactions" class="display transactionsTable table-striped table-hover"
                     style="width:100%; border-spacing:12px">
                     <thead>
                        <tr>
                           <th>Day</th>
                           <th>Status</th>
                           <th>Description</th>
                           <th>Amount</th>
                           <th>Category</th>
                           <th>Method</th>
                           <th>Type</th>
                        </tr>
                     </thead>
                     <tbody>

                     </tbody>
                     <tfoot>
                        <tr>
                           <th>Day</th>
                           <th>Status</th>
                           <th>Description</th>
                           <th>Amount</th>
                           <th>Category</th>
                           <th>Method</th>
                           <th>Type</th>
                        </tr>
                     </tfoot>
                  </table>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-12 small-box bg-info">
                     <div class="inner">
                        <h3 id="totalIncome"></h3>
                        <p>Total Income</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-12 small-box bg-info">
                     <div class="inner">
                        <h3 id="totalPendingIncome"></h3>
                        <p>Total Pending Income</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-12 small-box bg-danger">
                     <div class="inner">
                        <h3 id="totalExpense"></h3>
                        <p>Total Expense</p>
                     </div>
                  </div>
                  <div class="col-lg-3 col-12 small-box bg-danger">
                     <div class="inner">
                        <h3 id="totalPendingExpense"></h3>
                        <p>Total Pending Expense</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
   </div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

</div>

<div id="confirmModal" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header bg-danger text-white">Confirm transaction</div>
         <div class="modal-body">
            <div class="row">

               <div class="form-group col-12 col-lg-4">
                  <label for="confirmDescription">Description</label>
                  <input class="form-control" type="text" name="confirmDescription" id="confirmDescription" disabled />
                  <div class="invalid-tooltip" id="msgConfirmDescription"></div>
               </div>

               <div class="form-group col-12 col-lg-3">
                  <i class="fa fa-refresh" id="setCurrentDate"><label for="confirmDate">&nbsp;&nbsp;Date</label></i>
                  <div class="input-group">
                     <input class="form-control" type="date" name="confirmDate" id="confirmDate" />
                     <div class="invalid-tooltip" id="msgConfirmDate"></div>
                  </div>
               </div>

               <div class="form-group col-12 col-lg-2">
                  <label for="confirmAmount">Amount</label>
                  <div class="input-group">
                     <input class="form-control" type="number" name="confirmAmount" id="confirmAmount" step="0.01" />
                     <div class="invalid-tooltip" id="msgConfirmAmount"></div>
                  </div>
               </div>

               <div class="form-group col-12 col-lg-3">
                  <label for="confirmMethod">Method</label>
                  <div class="input-group">
                     <select class="form-control" id="confirmMethod">
                        <option value="NUBANK">NUBANK</option>
                        <option value="ITAU">ITAU</option>
                        <option value="MERCADO PAGO">MERCADO PAGO</option>
                        <option value="PIC PAY">PIC PAY</option>
                        <option value="CASH">CASH</option>
                     </select>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="form-group col-12 col-lg-3">
                  <legend for="confirmStatus">Status</legend>
                  <input type="radio" name="confirmStatus" value="PENDING"> PENDING<br>
                  <input type="radio" name="confirmStatus" value="DONE"> DONE<br>
               </div>

               <div class="form-group col-12 col-lg-4">
                  <div class="input-group">
                     <input class="form-control" type="hidden" name="confirmId" id="confirmId" />
                  </div>
               </div>
            </div>
         </div>

         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirm()">Confirm</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"
               onclick="deleteTransaction()">Delete</button>
         </div>
      </div>
   </div>
</div>

<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
   var currentMonth = moment().format("MM")
   var currentYear = moment().format("YYYY")
   var transactions = null

   showTransactions()

   function showBalance() {
      let totalIncome = 0;
      let totalPendingIncome = 0;
      let totalExpense = 0;
      let totalPendingExpense = 0;

      $("#transactions tbody tr").each(function () {
         $this = $(this);
         const trans = transactions.filter((el) => { return el._id === $this[0].id })[0]

         if (trans.type === 'INCOME') {
            totalIncome += trans.amount;
            totalPendingIncome += trans.status === 'PENDING' ? trans.amount : 0;
         } else {
            totalExpense += trans.amount;
            totalPendingExpense += trans.status === 'PENDING' ? trans.amount : 0;
         }

      });

      $("#totalIncome").html("R$ " + totalIncome.toFixed(2));
      $("#totalPendingIncome").html("R$ " + totalPendingIncome.toFixed(2));
      $("#totalExpense").html("R$ " + totalExpense.toFixed(2));
      $("#totalPendingExpense").html("R$ " + totalPendingExpense.toFixed(2));
   }

   function showTransactions() {
      $.ajax({
         url: `/api/resume/?year=${currentYear}&month=${currentMonth}`,
         type: 'GET',
         contentType: 'application/json',
         success: function (data) {
            $(".transactionsTable tbody").empty();
            transactions = data.transactions
            for (let i = 0; i < data.transactions.length; i++) {
               const el = data.transactions[i];

               let html = '';
               let symbol = 'R$ '
               let type = el.type === 'INCOME' ? '<i class="fa fa-arrow-down" style="color: green"></i>' : '<i class="fa fa-arrow-up" style="color: red"></i>'
               let status = ''
               if (el.status === 'DONE') {
                  status = '<i class="fa fa-circle" style="color: green"></i>'
               } else if (moment(el.date).format('YYYY-MM-D') == moment().format('YYYY-MM-D')) {
                  status = '<i class="fa fa-circle" style="color: yellow"></i>'
               } else if (moment(el.date) < moment()) {
                  status = '<i class="fa fa-circle" style="color: red"></i>'
               } else {
                  status = '<i class="fa fa-circle" style="color: silver"></i>'
               }

               html = `<tr id="${el._id}">`;
               html += '  <td class="text-center">' + getDayFromDate(el.date) + '</td>';
               html += '  <td class="text-center">' + status + '</td>';

               html += '  <td class="text-center">' + el.description + '</td>';
               html += '  <td class="text-center">' + symbol + Number(el.amount) + '</td>';

               html += '  <td class="text-center">' + el.category + '</td>';
               html += '  <td class="text-center">' + el.method + '</td>';
               html += '  <td class="text-center">' + type + '</td>';

               html += '</tr>';

               $('.transactionsTable tbody').append(html);
            }
            showDate()
            showBalance()

            $('#transactions').DataTable({
               initComplete: function () {
                  this.api().columns().every(function () {
                     var column = this;
                     var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                           var val = $.fn.dataTable.util.escapeRegex(
                              $(this).val()
                           );

                           column
                              .search(val ? '^' + val + '$' : '', true, false)
                              .draw();
                        });

                     column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                     });
                  });
               },
               paging: false
            });


            $('#transactions').on('draw.dt', function () {
               showBalance()
            });

         },
         error: function (err) {
            if (err && err.responseJSON && err.responseJSON.errors) {
               alert(err.responseJSON.errors[0]);
            }
         }
      });
   }


   function deleteTransaction() {
      let id = $('#confirmId').val()
      $.ajax({
         url: `/api/transactions/${id}`,
         type: 'DELETE',
         contentType: 'application/json',
         success: function (data) {
            showTransactions()
         }
      })
   }

   function confirm() {
      let description = $('#confirmDescription').val()
      let date = moment($('#confirmDate').val()).format('MM/DD/YYYY')
      let amount = $('#confirmAmount').val()
      let method = $('#confirmMethod').val()
      let id = $('#confirmId').val()
      let status = $("input[name='confirmStatus']:checked").val()
      const body = {
         // 'description':description,
         'status': status,
         'date': date,
         'amount': amount,
         'method': method
      }
      $.ajax({
         url: `/api/transactions/${id}`,
         type: 'PUT',
         contentType: 'application/json',
         data: JSON.stringify(body),
         success: function (data) {
            showTransactions()
         }
      })
   }

   $("#setCurrentDate").on("click", function () {
      $('#confirmDate').val(moment().format('YYYY-MM-DD'))
   })


   $("#previousMonth").on("click", function () {
      if (currentMonth === 1) {
         currentYear--
         currentMonth = 12
      } else {
         currentMonth--
      }
      showTransactions()
   });

   $("#nextMonth").on("click", function () {
      if (currentMonth === 12) {
         currentYear++
         currentMonth = 1
      } else {
         currentMonth++
      }
      showTransactions()
   });

   function showDate() {
      let months = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
      const date = months[currentMonth - 1] + ' / ' + currentYear
      const title = date + ' - ' + moment().format('DD/MM/YYYY')
      $("#currentDate").text(title)
   }

   function getDayFromDate(date) {
      return date.substr(8, 2)
   }

   $(document).on("click", "#transactions tbody tr", function () {
      const trans = transactions.filter((el) => { return el._id === this.id })
      $('#confirmDescription').val(trans[0].description)
      $('#confirmDate').val(moment(trans[0].date).format('YYYY-MM-DD'))
      $('#confirmAmount').val(trans[0].amount)
      $('#confirmMethod').val(trans[0].method)
      $('[name="confirmStatus"]').removeAttr('checked');
      $("input[name=confirmStatus][value=" + trans[0].status + "]").prop('checked', true);
      $('#confirmId').val(trans[0]._id)
      $("#confirmModal").modal({
         backdrop: 'static',
         show: true
      });
   });
</script>